@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Slab:wght@500&family=Trispace&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab';
}

body{
    background: #080808;
    color: whitesmoke;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(background-image.jpg);
    background-size: cover;
    background-position: center
}

.storage{
    padding:0px;
}

nav{
    display:flex;
    align-items: center;
    flex-wrap: wrap; 
    margin: 0 2px
}

.logo{
    width: 200px;
    margin-right: 125px;
}

nav ul {
    display: flex;
    list-style-type: none;
    vertical-align: ;
    
}

nav ul li a{
    text-decoration: none;
    color: beige;
    font-size:18.5px;
    margin: 0 60px;
}
#home{
    color:aquamarine
}
#contacts{
    margin-right: 80px;
}
.my_message{
    padding-left: 5%;
    padding-top: 7%;
}
#duo1{
    margin:5px 10px
}
#duo2{
    margin:8px 50px;
    color: #447BBE;
}
#duo1{
    color : #E54C57;
}
.my_message h2 span, p b{
    color: ghostwhite;
}
.spider1 svg{
    height: 70px;
    width: 60px;
    fill:red;
    position:absolute;
    top:50px;
    left:475px;
}
.spider2 svg{
    height: 70px;
    width: 60px;
    fill:#447BBE;
    position:absolute;
    top:50px;
    left:650px;
    transform: rotate(180deg);
}
.spider3 svg{
    height: 70px;
    width: 60px;
    fill:red;
    position:absolute;
    top:50px;
    left:850px;
    
}
.web1{
    position: absolute;
    top:-313px;
    left:133px;
    transform: rotate(33deg);  
}
.web2{
    position:absolute;
    top:-520px;
    left: 263px;
    transform: rotate(45deg);  
}
.web3{
    position: absolute;
    bottom:1305px;
    left: 314px;
    transform: rotate(45deg);  
}
footer{
    border:0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#venom{
    position: absolute;
    bottom:-190px;
    left: 170px;
    height: 190px;
    width: 650px;
}
.layer1 {
    margin: 0;
}
.layer2 svg{
    transform: rotate(180deg);
    margin: 0;
}
.icons i{
    margin: 0 20px;
    text-decoration: none;
    color: whitesmoke;
}
.icons {
    font-size:20px;
    position: absolute;
    bottom:-160px;
    left: 310px;
    margin:0 100px;
    display: flex;    
}
#credits{
    font-size: 15px;
    color: whitesmoke;
    position: absolute;
    bottom:-25px;
    left: 50px;
}
#creditsto{
    color: whitesmoke;
    position: absolute;
    bottom:-43px;
    left: 90px;
    font-size: 13px
}
#creditsto1{
    color: whitesmoke;
    position: absolute;
    bottom:-60px;
    left: 106px;
    font-size: 13px
}
#copyright{
    font-size: 12px;
    left: 100px
    display: flex
    color: whitesmoke;
    position: relative;
    bottom:-45px;
    left: -240px;
}
#text{
    font-size: 16px;
    position: absolute;
    bottom:-20px;
    left: 420px;
}
#line{
    width: 30%;
    position: relative;
    bottom:50px;
    left:345px;
}
/*#line1{
    display: flex;
    width: 100%;
    position: absolute;
    bottom:-20px;
    left:-140px;
}*/